<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blooooging</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

  <nav class="mainnav">
    <div class="truenav">
    <a class="cool" href="/">Home</a>
     {{#if logged_in}}
        <a class="cool" href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a class="cool" href="/login">Login</a>
        {{/if}}
        </div>
    <h1 class="title">Tech Blog</h1>
  </nav>
  
  <main class="container">
      {{{body}}}
  </main>

 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>