<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blooooging</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
 
  <nav class="mainnav">
    <a href="/">Home</a>
     {{#if logged_in}}
        <a href="/dashboard">Enter Blog</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
   
  </nav>
  <main class="container">
      {{{body}}}
  </main>

 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>