<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blooooging</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
 
  <nav class="mainnav">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/blogger">Dashboard</a>
  </nav>
  <main class="container">
      {{{body}}}
  </main>
</body>

</html>