<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blooooging</title>
  <link rel="stylesheet" type="text/css" href="/jass.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
   
  <main class="container">
      {{{body}}}
 
 
  </main>
 
</body>

</html>