




<div>{{name}}</div>
<div>{{description}}</div>

  <form class="form new-comm-form">
    {{!-- <div class="form-group">
        <label for="comm-name">Name:</label>
        <textarea class="form-input" id="comm-name" name="comm-name"></textarea>
      </div> --}}
      <div class="form-group">
        <label for="comm-desc">Comment:</label>
        <textarea class="form-input" id="comm-desc" name="comm-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit">Create</button>
      </div>
    </form>
  </div>









 <script src="../js/comm.js"></script>